/* colors */

:root {
  --header-gradient: linear-gradient(#ffffff, #ffffff, #ffffffe7, #ffffff00);

  --color-primary: #60b9d4;
  --color-secondary: #f5f5f5;
  --color-accent: #ff7494;
  --color-background: #f5f5f5;
  --color-text: #333333;
  --color-border: #dddddd;
}
/* Reset and base styles */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  overflow-x: hidden;
}

a {
  color: #1c5db3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* header */

header {
  background: var(--header-gradient);
  padding: var(--padding-medium);
  text-align: center;
  position: absolute;
  width: 100%;
  height: calc(var(--padding-medium) + 1rem);
  box-shadow: 0px 4px var(--blur-mid) rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0.2rem, 2vw, 3rem);
}

.head-link {
  font-size: clamp(calc(var(--small) + 0.1rem), 1vw, var(--medium));
  color: var(--color-accent);
  text-shadow: 1px 1px var(--blur-mid) rgba(0, 0, 0, 0.15);
}

/* main */

main {
  background-color: var(--color-primary);
  height: 100vh;
}
